---
import Default from '@layouts/Default.astro';
import SmoothSectionLinks from '@components/SmoothSectionLinks.astro';
import { getEntry } from 'astro:content';
const rules = await getEntry('general', 'rules');
const { headings, Content } = await rules.render();
const headingPartCount = 3;
const headingPartLength = Math.floor(headings.length / headingPartCount);
const headingParts = Array(headingPartCount)
  .fill(null)
  .map((_, i) => headings.slice(i * headingPartLength, (i + 1) * headingPartLength));
---

<Default title="Rules">
  <div class="global-px">
    <!-- ensure rules are quickly accessible -->
    <h2>Contents</h2>
    <ol class="table-of-contents">
      {
        headingParts.map((part, i) => (
          <div>
            {part.map((h, j) => (
              <li>
                <a href={`#${h.slug}`}>
                  <span>{i * headingPartLength + j + 1}</span>
                  <div />
                  <span>{h.text}</span>
                </a>
              </li>
            ))}
          </div>
        ))
      }
    </ol>

    <hr />

    <!-- content populated from markdown file -->
    <Content />
  </div>
</Default>

<style lang="scss">
  :global(h3) {
    margin-top: var(--sp-2);
    position: relative;

    &::before {
      position: absolute;
      color: var(--red);
      font-family: 'Bevan', serif;
      font-size: 400px;
      opacity: 10%;
      line-height: 1;
      pointer-events: none;
    }

    &:nth-of-type(odd)::before {
      top: -100px;
      right: 70%;
    }

    &:nth-of-type(even)::before {
      top: -100px;
      left: 60%;
    }

    @for $i from 1 through 21 {
      &:nth-of-type(#{$i})::before {
        content: '#{$i}.';
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: calc(var(--font-size-header) / 2);
  }

  ol {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--sp-2);

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
      gap: 0;
    }

    li {
      list-style: none;

      a {
        color: var(--fg-bold);
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-direction: row-reverse;
        position: relative;
        gap: 0.2em;

        &:is(:hover, :focus, :active) {
          color: var(--red-bold);
        }

        div {
          flex-grow: 1;
          border-bottom: 2px dotted var(--fg-mild);
          translate: 0 -0.4em;
        }
      }
    }
  }

  hr {
    margin: var(--sp-4) 0;
  }

  :global(ol:not(.table-of-contents)) {
    padding-left: 0;

    &:not(:last-child) {
      margin-bottom: var(--sp-4);
    }

    :global(li) {
      list-style-position: inside;
      margin-bottom: var(--sp-1);
      text-align: justify;
    }
  }
</style>
