---
import Default from '@layouts/Default.astro';
---

<Default title="Contact">
  <div>
    <h1>Get in Touch</h1>
    <p>Want to write a long message about how much you love Townball?</p>
    <a href="mailto:21ctownball@gmail.com" target="_blank" class="cta">Send Us an Email</a>
    <p>Like looking at pictures while talking online?</p>
    <a href="https://www.instagram.com/21ctownball/" target="_blank" class="cta">Send Us a DM on Instagram</a>
    <p>Prefer quick messaging on a trendy communication platform?</p>
    <a href="https://discord.gg/5m8G4bZQx5" target="_blank" class="cta">Join Our Discord Server</a>
  </div>
</Default>

<style lang="scss">
  div {
    // WARNING: hard-coded to make content top-aligned instead of centered
    min-height: calc(100dvh - 20rem);
    margin: 0 var(--sp-1);
  }
</style>
