---
import Default from '@layouts/Default.astro';
import { getAbbreviations } from '@scripts/data/abbreviations';

const abbreviations = await getAbbreviations();
---

<Default title="Statistics | Abbreviations">
	<section class="stats">
		<h1>Abbreviations</h1>
		<hr class="stats">
		<table class="stats">
			<thead>
				<tr>
					{Object.keys(abbreviations[0]).map((name) => (
						<th>{name}</th>
					))}
				</tr>
			</thead>
			<tbody>
				{abbreviations.map(({ abbreviation, title, description }) => (
					<tr>
						<td>{abbreviation}</td>
						<td>{title}</td>
						<td>{description}</td>
					</tr>
				))}
			</tbody>
		</table>
		
	</section>
</Default>