---
import Default from '@layouts/Default.astro';
---

<Default title="Statistics">
  <main>
    <h2>Townball Statistics</h2>
    
    <p>Meticulously compiled by Chuck Jones.</p>
    
    <ul>
      <li>
        <a href="/stats/abbreviations">Abbreviations</a>
      </li>
      <li>
        <a href="/stats/players">Players</a>
      </li>
      <li>
        <a href="/stats/games">Games</a>
      </li>
      <li>
        <a href="/stats/teams">Team Stats</a>
      </li>
    </ul>
  </main>
</Default>
