---
import Default from '@layouts/Default.astro';
---

<Default title="Statistics">
	<section class="stats">
		<h1>Townball Statistics</h1>

		<p>Meticulously compiled by Chuck Jones.</p>

		<hr class="stats">

		<ul>
			<li>
				<a href="/stats/abbreviations">Abbreviations</a>
			</li>
			<li>
				<a href="/stats/players">Players</a>
			</li>
			<li>
				<a href="/stats/games">Games</a>
			</li>
			<li>
				<a href="/stats/teams">Teams</a>
			</li>
		</ul>
	</section>
</Default>
