---
import Default from '@layouts/Default.astro';
import { getTeams } from '@scripts/data/teams';

const teams = await getTeams();

// Group teams by season
const teamsBySeason = teams.reduce((acc, team) => {
	if (!acc[team.season]) {
		acc[team.season] = [];
	}
	acc[team.season].push(team);
	return acc;
}, {} as Record<string, typeof teams>);
---

<Default title="Statistics | Teams">
	<section class="stats">
		<h1>Teams</h1>
		<hr class="stats">
		<h2>All Teams by Year</h2>
		<ul>
			{
				Object.entries(teamsBySeason).map(([season, teams]) => (
					<li>
						{season} Season
						<ul>
							{teams.sort((a, b) => (a.club_id ?? -1) - (b.club_id ?? -1)).map(team => (
								<li>
									<a href={`/stats/teams/${team.club_id}/${team.season}`}>{team.name}</a>
								</li>
							))}
						</ul>
					</li>
				))
			}
		</ul>
	</section>
</Default>