---
import Default from '@layouts/Default.astro';
import { getTeams } from '@scripts/data';

const teams = await getTeams();
---

<Default title="Statistics | Teams">
	<section class="stats">
		<h1>Abbreviations</h1>
		<hr class="stats">
		<table class="stats">
			<thead>
				<tr>
					<th>Name</th>
					<th>Year Debuted</th>
					<th>Year Retired</th>
				</tr>
			</thead>
			<tbody>
				{teams.map(team => (
					<tr>
						<td>{team.name}</td>
						<td>{team.debut_season}</td>
						<td>{team.final_season || 'Present'}</td>
					</tr>
				))}
			</tbody>
		</table>
	</section>
</Default>