---
import Default from '@layouts/Default.astro';
---

<Default title="Townball News">
  <p>Check back for all your Townball related news!</p>
  <ul>
    <li>
      <a href="https://www.hillsdale.net/search/?q=townball" target="_blank">Hillsdale Daily News</a>
    </li>
    <li>
      <a href="https://www.turlockjournal.com/news/local/townball-comes-turlock/" target="_blank">Turlock Journal</a>
    </li>
    <li>
      <a href="https://www.newberggraphic.com/sports/americas-almost-favorite-pastime/article_b47a2358-4d2f-5a67-a2c8-42a2a07aeaab.html" target="_blank">Newberg Graphic</a>
    </li>
  </ul>
</Default>
