---
import Logo from '@components/Logo.astro';
import Discord from '@components/icons/Discord.astro';
import Envelope from '@components/icons/Envelope.astro';
import Facebook from '@components/icons/Facebook.astro';
import Instagram from '@components/icons/Instagram.astro';
import YouTube from '@components/icons/YouTube.astro';
import { NAV_LINKS } from '@scripts/constants';
const { BASE_URL } = import.meta.env;
const { url } = Astro;

const links = NAV_LINKS.filter(link => link.href !== '/');
---

<footer>
  <div class="subscribe" hidden={url.pathname === '/contact'}>
    <a href="/contact">Subscribe to stay updated</a>
  </div>
  <div class="content">
    <nav>
      <a href="https://www.instagram.com/21ctownball/" target="_blank">
        <Instagram />
      </a>
      <a href="https://www.facebook.com/21ctownball" target="_blank">
        <Facebook />
      </a>
      <a href="https://www.youtube.com/@21stcenturytownball93" target="_blank">
        <YouTube />
      </a>
      <a href="https://discord.gg/5m8G4bZQx5" target="_blank">
        <Discord />
      </a>
      <a href="mailto:21ctownball@gmail.com" target="_blank">
        <Envelope />
      </a>
    </nav>
    <a href={`${BASE_URL}`} class="logo-link">
      <Logo width={64} />
    </a>
    <nav>
      {
        links.map(link => (
          <a href={link.href} target={link.target}>
            {link.title}
          </a>
        ))
      }
    </nav>
  </div>
</footer>

<style lang="scss">
  footer {
    --box-shadow: 0 var(--sp-2) var(--sp-4) var(--shadow);
    background-color: var(--bg-bold);
    margin-top: var(--sp-4);

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      place-items: center;
      padding: var(--sp-1);
      gap: var(--sp-1);
      margin-top: var(--sp-2);

      nav {
        --gap: calc(var(--sp-1) * 1.5) !important;
        justify-self: revert !important;
      }

      .logo-link {
        display: none;
      }
    }

    .subscribe {
      background-color: var(--bg-mild);
      color: var(--fg-mild);
      text-align: center;
      padding: var(--sp-half);
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 0.05em;

      a {
        color: inherit;

        &:is(:hover, :focus) {
          color: var(--fg);
        }

        &:not(:is(:hover, :focus)) {
          text-decoration: none;
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      align-items: center;
      padding: var(--sp-half) var(--sp-2);

      nav {
        --gap: var(--sp-2);
        display: flex;
        gap: var(--gap);

        &:first-of-type {
          justify-self: start;
        }

        &:last-of-type {
          justify-self: end;
        }

        a {
          color: var(--fg);
          text-decoration: none;
          font-family: 'Big Shoulders Text', sans-serif;
          position: relative;

          // dots between links
          &:not(:last-child)::after {
            font-family: sans-serif;
            content: '•';
            position: absolute;
            right: calc(var(--gap) * -0.5 - 0.1em);
            pointer-events: none;
          }

          :global(svg) {
            width: auto;
            height: 1em;
          }
        }
      }
    }
  }
</style>
