---
interface Props {
  title?: string;
}
import '@styles/colors.scss';
import '@styles/main.scss';
const { title } = Astro.props;
let titleContent = '21c Townball';
if (title) titleContent += ` | ${title}`;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/jpg" href="/logo-black-on-white.jpg" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bevan&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Bevan&family=Big+Shoulders+Text&family=Public+Sans:wght@400;700&display=swap" rel="stylesheet" />
  <title>{titleContent}</title>
</head>
