<div id="mc_embed_shell">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css" />
  <style type="text/css" is:global>
    #mc_embed_signup {
      width: 500px;
      max-width: calc(100dvw - var(--sp-4));
    }
    #mc_embed_signup .indicates-required {
      position: absolute;
      top: 0;
      right: 0;
    }
    #mc_embed_signup h2 {
      font-size: calc(var(--font-size-header) * 0.6) !important;
    }
    #mc_embed_signup div.mce_inline_error {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: -0.5rem !important;
      background: none !important;
    }
    @media (max-width: 768px) {
      #mc_embed_signup .hide-sm {
        display: none;
      }
      #mc_embed_signup h2 {
        font-size: calc(var(--font-size-header) * 0.7) !important;
      }
      .clear.foot {
        grid-template-columns: 1fr max-content !important;
      }
      .refferal_badge {
        width: 100px !important;
      }
    }
  </style>
  <div id="mc_embed_signup">
    <form action="https://google.us13.list-manage.com/subscribe/post?u=8dfe855e6b1a15b3a039f94e4&id=ce7d823372&f_id=00a5f5e7f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <div id="mc_embed_signup_scroll">
        <div>
          <h2>Subscribe for<span class="hide-sm"> Townball</span> news!</h2>
          <div class="indicates-required"><span class="asterisk">*</span> <span class="hide-sm">indicates </span>required</div>
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
          <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" />
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">First Name </label>
          <input type="text" name="FNAME" class="text" id="mce-FNAME" value="" />
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Last Name </label>
          <input type="text" name="LNAME" class="text" id="mce-LNAME" value="" />
        </div>
        <div hidden=""><input type="hidden" name="tags" value="6859465" /></div>
        <div id="mce-responses" class="clear foot">
          <div class="response" id="mce-error-response" style="display: none;"></div>
          <div class="response" id="mce-success-response" style="display: none;"></div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input type="text" name="b_8dfe855e6b1a15b3a039f94e4_ce7d823372" tabindex="-1" value="" />
        </div>
        <div class="optionalParent">
          <div class="clear foot">
            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe" />
            <p style="margin: 0px auto;"><a href="http://eepurl.com/iupyjA" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;" /></span></a></p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
    })(jQuery);
    var $mcj = jQuery.noConflict(true);
  </script>
</div>
