---
import Default from '@layouts/Default.astro';
import { getGameFilePaths, getTeams } from '@scripts/data';
import { getFormattedDatetime } from '@scripts/utils';

const gameFiles = getGameFilePaths();
const teams = await getTeams();
---

<Default title="Statistics">
	<main>
		<h2>Game Scoresheets</h2>
		
		<hr style="margin: calc(var(--spacing) * 3) 0">

		<ul>
			{
				gameFiles.map((game) => (
					<li>
						<a href={`/stats/games/${game.date}-${game.visitingTeam}-${game.homeTeam}`}>
							{getFormattedDatetime(game.date)}: {teams.find(t => t.id === game.visitingTeam)?.acronym} v {teams.find(t => t.id === game.homeTeam)?.acronym}
						</a>
					</li>
				))
			}
		</ul>
	</main>
</Default>
