---
import Default from '@layouts/Default.astro';
import { getGameFilePaths, getTeams } from '@scripts/data';
import { getFormattedDatetime } from '@scripts/utils';

const scoreboardFiles = getGameFilePaths();
const teams = await getTeams();
---

<Default title="Statistics | Games">
	<section class="stats">
		<h1>Games</h1>
		<hr class="stats">
		<ul>
			{
				scoreboardFiles.map((game) => (
				<li>
					<a href={`/stats/games/${game.date}-${game.visitingTeam}-${game.homeTeam}`}>
						{getFormattedDatetime(game.date)}: {teams.find(team => team.id === game.visitingTeam)?.acronym} v {teams.find(team => team.id === game.homeTeam)?.acronym}
					</a>
				</li>
				))
			}
		</ul>
	</section>
</Default>
