---
interface Props {
  title?: string;
}
import Footer from 'src/components/Footer.astro';
import Head from 'src/components/Head.astro';
import Header from 'src/components/Header.astro';
import SmoothSectionLinks from '@components/SmoothSectionLinks.astro';
const { title } = Astro.props;
---

<html lang="en">
  <Head title={title} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <!-- this rule has to be here so Astro can find the image ¯\_(ツ)_/¯ -->
    <style>
      body {
        background-image: url('@assets/newspapers.jpg');
      }
    </style>
    <SmoothSectionLinks />
  </body>
</html>
