---
import Default from '@layouts/Default.astro';
import { getPlayers } from '@scripts/data/players';
import { getFormattedDatetime } from '@scripts/utils';

const players = await getPlayers();
---

<Default title="Statistics | Players">
	<section class="stats">
		<h1>Abbreviations</h1>
		<hr class="stats">
		<table class="stats">
			<thead>
				<tr>
					<th>Name</th>
					<th>Debut</th>
				</tr>
			</thead>
			<tbody>
				{players.map(player => (
					<tr>
						<td>
							<a href={`/stats/players/${player.id}`}>{player.first_name} {player.last_name}</a>
						</td>
						<td>{player.debut.toLocaleString(undefined, getFormattedDatetime.options)}</td>
					</tr>
				))}
			</tbody>
		</table>
		
	</section>
</Default>