---
import Default from '@layouts/Default.astro';
---

<Default title="Media">
  <div class="global-px">
    <h1>Media</h1>

    New to Townball? Check out these podcast episodes for an overview of the sport:

    <ul>
      <li>
        <a href="https://open.spotify.com/episode/34jgjVtNrJQP1NZMLgOW0h?si=65e3cf79535148c1" target="_blank">Why Townball?</a>
      </li>
      <li>
        <a href="https://open.spotify.com/episode/3PMEHiRMrqiRvyrHgDU62P?si=568d5e5dd0c54336" target="_blank">How Townball?</a>
      </li>
    </ul>

    Stay up to date on these social media platforms:

    <ul>
      <li>
        <a href="https://www.instagram.com/21ctownball/" target="_blank">Instagram</a>
      </li>
      <li>
        <a href="https://www.facebook.com/21ctownball/" target="_blank">Facebook</a>
      </li>
      <li>
        <a href="https://discord.gg/5m8G4bZQx5" target="_blank">Discord</a>
      </li>
    </ul>

    <h2 id="photos">Photos</h2>
    <p>The best place to find photos and videos of Townball is on <a href="https://www.instagram.com/21ctownball/" target="_blank">our Instagram account</a>.</p>

    <h2 id="news">News Articles</h2>
    <p>21C Townball has been featured in several news articles:</p>
    <ul>
      <li>
        <a href="https://www.newberggraphic.com/sports/americas-almost-favorite-pastime/article_b47a2358-4d2f-5a67-a2c8-42a2a07aeaab.html" target="_blank">America's Almost Favorite Pastime - The Newberg Graphic</a>
      </li>
      <li>
        <a href="https://www.hillsdale.net/story/sports/2022/08/17/townball-pick-up-games-bring-new-version-baseball-hillsdale/10337258002/" target="_blank">...A New Version of Baseball - Hillsdale Daily News</a>
      </li>
      <li>
        <a href="https://www.turlockjournal.com/news/local/townball-comes-turlock/" target="_blank">Townball Comes to Turlock - Turlock Journal</a>
      </li>
      <li>
        <a href="https://protoball.org/21st_Century_Townball" target="_blank">Protoball - 21st Century Townball</a>
      </li>
    </ul>

    <h2 id="audio">Audio Content</h2>
    <h3>Official Podcast</h3>
    <p>21C Townball is proud to present <em>The Twenty-First Century Townball Podcast</em>, hosted by Grant More. The podcast takes a deep dive into the history of the game, its current growth, and what makes it unique. Episodes feature the players who developed the sport, giving them a chance to share their love of the game.</p>
    <p>Listen on your favorite platform:</p>
    <ul>
      <li>
        <a href="https://open.spotify.com/show/2dVVrndfCWLcrZXVZK00QH" target="_blank">Spotify</a>
      </li>
      <li>
        <a href="https://podcasts.apple.com/podcast/id1694074503" target="_blank">Apple Podcasts</a>
      </li>
      <li>
        <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMTVlM2MxYy9wb2RjYXN0L3Jzcw" target="_blank">Google Podcasts</a>
      </li>
    </ul>
    <details>
      <summary>Other Podcast Platforms</summary>
      <ul>
        <li>
          <a href="https://castbox.fm/vic/1694074503" target="_blank">Castbox</a>
        </li>
        <li>
          <a href="https://anchor.fm/s/215e3c1c/podcast/rss" target="_blank">RSS</a>
        </li>
        <li>
          <a href="https://pca.st/itunes/1694074503" target="_blank">Pocket Casts</a>
        </li>
        <li>
          <a href="https://overcast.fm/itunes1694074503" target="_blank">Overcast</a>
        </li>
        <li>
          <a href="https://www.bullhorn.fm/podchaser/itunes/1694074503" target="_blank">Bullhorn</a>
        </li>
        <li>
          <a href="https://castro.fm/itunes/1694074503" target="_blank">Castro</a>
        </li>
        <li>
          <a href="https://player.fm/subscribe?id=https://anchor.fm/s/215e3c1c/podcast/rss" target="_blank">Player FM</a>
        </li>
        <li>
          <a href="https://podcastaddict.com/feed/https%3A%2F%2Fanchor.fm%2Fs%2F215e3c1c%2Fpodcast%2Frss" target="_blank">Podcast Addict</a>
        </li>
        <li>
          <a href="https://www.podbean.com/itunes/1694074503" target="_blank">Podbean</a>
        </li>
        <li>
          <a href="https://podhero.com/podcast/feed/https%3A%2F%2Fanchor.fm%2Fs%2F215e3c1c%2Fpodcast%2Frss" target="_blank">Podhero</a>
        </li>
        <li>
          <a href="https://app.podcastguru.io/podcast/1694074503" target="_blank">Podcast Guru</a>
        </li>
        <li>
          <a href="https://www.podcastrepublic.net/podcast/1694074503" target="_blank">Podcast Republic</a>
        </li>
        <li>
          <a href="https://web.podfriend.com/podcast/1694074503" target="_blank">Podfriend</a>
        </li>
        <li>
          <a href="http://radiopublic.com/https%3A%2F%2Fanchor.fm%2Fs%2F215e3c1c%2Fpodcast%2Frss" target="_blank">RadioPublic</a>
        </li>
        <li>
          <a href="https://sonnet.fm/p/1694074503" target="_blank">Sonnet</a>
        </li>
        <li>
          <a href="https://subscribeonandroid.com/anchor.fm/s/215e3c1c/podcast/rss" target="_blank">Android</a>
        </li>
      </ul>
    </details>
    <h3>Featured Episodes</h3>
    <p>Other podcasts have discussed the sport, and 21C Townball has also been featured the radio!</p>
    <ul>
      <li>
        <a href="https://rotb.podbean.com/e/rotb-extra-4-daniel-jones21st-century-townball/" target="_blank"><em>Roller Out The Barrel</em> Interview</a>
      </li>
      <li>
        <a href="https://youtu.be/H8XOVr5FN2M?si=mq8Ptd_D-94jynTt" target="_blank"><em>Hillsdale Radio</em> Spot</a>
      </li>
      <li>
        <a href="https://open.spotify.com/show/24uJN6XCkff2IyLlDdEJ0N?si=777c6bdd342f477a" target="_blank"><em>Obscure Ball</em> "Origins" Episode</a>
      </li>
    </ul>

    <h2 id="vidoes">Videos</h2>
    <h3>Gameplay</h3>
    <p>
      Want to see Townball in action? Check out <a href="https://www.instagram.com/21ctownball/" target="_blank">our Instagram account</a> as well as these great YouTube videos made by our community:
    </p>
    <div class="media-container">
      <iframe width="768" height="432" src="https://www.youtube.com/embed/5nxm827vKFY?si=NXC1RIZiCtxjWtgv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe width="768" height="432" src="https://www.youtube.com/embed/YCqbGyigMrE?si=eYCzzXBuyl-AJXGq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <p>To watch a full game, check out this recording from the 2022 annual west coast tournament.</p>
    <div class="media-container">
      <iframe width="768" height="432" src="https://www.youtube.com/embed/1XyZCbUYu5I?si=L9epPHItmInUgnL5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <h3>Conferences</h3>
    <p>Listen to Daniel Jones and Grant More talk about Townball at the <a href="https://www.vbba.org/" target="_blank">Vintage Base Ball Association</a> conference in 2022.</p>
    <div class="media-container">
      <iframe width="768" height="432" src="https://www.youtube.com/embed/6UmSc9DXK0w?si=6j_C9SMBimJBFzUa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</Default>

<style lang="scss">
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  .media-container {
    display: grid;
    gap: var(--sp-1);
    grid-template-columns: 1fr;

    iframe {
      width: 100%;
    }
  }

  :global(footer) {
    margin-top: var(--sp-4);
  }
</style>
