---
import Default from '@layouts/Default.astro';
---

<Default title="21c Townball Bodcast">
  <p>Learn about the historical origins, philosophical motivations, and current growth of the sport on your favorite podcast platform.</p>
  <ul>
    <li>
      <a href="https://open.spotify.com/show/2dVVrndfCWLcrZXVZK00QH?si=642f7c7cb17a4f01&utm_medium=share&utm_source=linktree" target="_blank">Spotify</a>
    </li>
    <li>
      <a href="https://podcasts.apple.com/podcast/id1694074503?app=podcast&at=1000lHKX&ct=linktree_http&itscg=30200&itsct=lt_p&ls=1&mt=2" target="_blank">Apple Podcasts</a>
    </li>
    <li>
      <a href="https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMTVlM2MxYy9wb2RjYXN0L3Jzcw" target="_blank">Google Podcasts</a>
    </li>
    <li>
      <a href="https://castbox.fm/vic/1694074503" target="_blank">Castbox</a>
    </li>
    <li>
      <a href="https://pca.st/itunes/1694074503" target="_blank">Pocket Casts</a>
    </li>
    <li>
      <a href="https://overcast.fm/itunes1694074503" target="_blank">Overcast</a>
    </li>
    <li>
      <a href="https://www.bullhorn.fm/podchaser/itunes/1694074503" target="_blank">Bullhorn</a>
    </li>
    <li>
      <a href="https://castro.fm/itunes/1694074503" target="_blank">Castro</a>
    </li>
    <li>
      <a href="https://player.fm/subscribe?id=https://anchor.fm/s/215e3c1c/podcast/rss" target="_blank">Player FM</a>
    </li>
    <li>
      <a href="https://podcastaddict.com/feed/https%3A%2F%2Fanchor.fm%2Fs%2F215e3c1c%2Fpodcast%2Frss" target="_blank">Podcast Addict</a>
    </li>
    <li>
      <a href="https://www.podbean.com/itunes/1694074503" target="_blank">Podbean</a>
    </li>
    <li>
      <a href="https://podhero.com/podcast/feed/https%3A%2F%2Fanchor.fm%2Fs%2F215e3c1c%2Fpodcast%2Frss" target="_blank">Podhero</a>
    </li>
    <li>
      <a href="https://app.podcastguru.io/podcast/1694074503" target="_blank">Podcast Guru</a>
    </li>
    <li>
      <a href="https://www.podcastrepublic.net/podcast/1694074503" target="_blank">Podcast Republic</a>
    </li>
    <li>
      <a href="https://web.podfriend.com/podcast/1694074503" target="_blank">Podfriend</a>
    </li>
    <li>
      <a href="http://radiopublic.com/https%3A%2F%2Fanchor.fm%2Fs%2F215e3c1c%2Fpodcast%2Frss" target="_blank">RadioPublic</a>
    </li>
    <li>
      <a href="https://sonnet.fm/p/1694074503" target="_blank">Sonnet</a>
    </li>
    <li>
      <a href="https://anchor.fm/s/215e3c1c/podcast/rss" target="_blank">RSS</a>
    </li>
    <li>
      <a href="https://subscribeonandroid.com/anchor.fm/s/215e3c1c/podcast/rss" target="_blank">Subscribe on Android</a>
    </li>
  </ul>
</Default>
